.container {
    position: relative;
    max-width: 550px;
    border-radius: 10px;
    padding: 5px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 300px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-height: 310px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  .container:hover .overlay {
    opacity: 1;
    border-radius: 10px;
  }
  
  .text {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .buttonWebLink {
    font-size: 20px;
    color: #7510F7;
    position: absolute;
    top: 70%;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: #7510F7;
    border-style: solid;
    padding: 8px;
    text-align: center;
    display: inline-block;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
  }

  .buttonCodeLink {
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: #7510F7;
    border-style: solid;
    color: #7510F7;
    padding: 8px;
    text-align: center;
    display: inline-block;
    margin: 8px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
  }

  .buttonWebLink:hover, .buttonCodeLink:hover {
    background-color: #7510F7;
    color:white;
  }